.gif-container {
    display: block; /* Initially hidden */
    margin-top: 10px;
    text-align: center;
    display: none;
}

.gif-container img {
    width: 100%;
    height: auto;
}

/* Make sure the li has some padding and relative positioning for gif positioning */
li {
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
}